body {
    background: rgb(236, 238, 241);
}

.profile {
    text-align: right;
    float: right;
    margin-right: 10px;
}

.profile a {
    color: white;
    text-decoration: underline;
}

.profile p {
    color: whitesmoke;
}

.request {
    border: 1px solid red;
    box-shadow: 0 0 3px rgba(0, 0, 0, .35);
    padding: 5px;
    margin: 3px;
}

.task-view {
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

.filters {
    height: 904px;
    float: left;
    width: 300px;
    background: #cbd0d6;
    margin-top: -17px;
}

.open-filter-button {
    position: relative;
    background: #cbd0d6;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 230px;
    top: 124px;
    width: 95px;
    height: 45px;
    text-align: center;
    padding: 15px 22px;
    color: #ffffff;
}

input {
    border-radius: 0;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    padding: 3px 15px;
}

input:focus {
    box-shadow: none;
    border-color: rgb(177, 177, 177);
}

.task textarea {
    border: 1px solid rgb(177, 177, 177);
    outline: none;
    min-width: 280px;
    min-height: 100px;
    max-height: 150px;
    max-width: 280px;
}