body {
    background: #f6f7f7; /*rgb(236, 238, 241);*/
}

.profile {
    text-align: right;
    float: right;
    margin-right: 10px;
}

.profile a {
    color: white;
    text-decoration: underline;
}

.profile p {
    color: whitesmoke;
}

.request {
    border: 1px solid red;
    box-shadow: 0 0 3px rgba(0, 0, 0, .35);
    padding: 5px;
    margin: 3px;
}

.hidden {
    display: none !important;
}

.task-view {
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

input {
    border-radius: 0;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    padding: 3px 15px;
}

input:focus {
    box-shadow: none;
    border-color: rgb(177, 177, 177);
}

.task textarea {
    border: 1px solid rgb(177, 177, 177);
    outline: none;
    min-width: 280px;
    max-width: 280px;
    height: 250px;
}

.add-new-task-inline {
    color: rgb(202, 202, 202);
    font-size: 22px;
    top: 4px;
}

.blackout {
    background: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    display: none;
}

.opened-profile, .opened-task, .new-task {
    display: none;
    position: fixed !important;
    z-index: 2001;
}

.opened-profile {
    width: 660px;
    height: 660px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: white;
}

.close-button {
    font-size: 20px;
    float: right;
    color: #A54C4D;
    right: -15px;
}

.navbar-text {
    cursor: default;
}

.navbar-form {
    margin: 0 auto !important;
}

aside {
    position: fixed;
    width: 120px;
    top: 50px;
    bottom: 0;
    background: #2c2e34;
}

.icon {
    margin-left: 10px;
    background: #2c2e34;
    color: #989ba3;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
}

.icon.active {
    background: #f6f7f7;
}

.icon .glyphicon {
    font-size: 28px;
}

.view {
    display: none;
    position: absolute;
    left: 120px;
    right: 0;
    top: 50px;
    bottom: 0;
    padding-left: 20px;
    padding-top: 20px;
}

.view header {
    margin-right: 300px;
}

.view.active {
    display: block;
}

.view .table-container {
    position: absolute;
    left: 0;
    right: 300px;
    top: 60px;
    padding-left: 20px;
    bottom: 0;
}

.view .table-container .table.head {
    margin-bottom: 0;
}

.view .table-container .scrollable {
    overflow-y: auto;
    left: 20px;
    right: 0;
    top: 38px;
    bottom: 0;
    position: absolute;
}

.filters {
    position: fixed;
    right: 0;
    width: 300px;
    top: 50px;
    bottom: 0;
    background: #ECECEC;
}

.filters h4 {
    margin-left: 20px;
}

.filters div input {
    margin-left: 20px;
    margin-bottom: 10px;
}

.filters ul {
    padding-top: 10px;
}

.filters ul li {
    padding: 3px;
}

.filters .filters-caption:first-child {
    margin-top: 20px;
}

.filters .filters-caption {
    border-bottom: 2px solid red;
    text-align: right;
    padding-bottom: 2px;
    padding-right: 5px;
    font-size: 15px;
}

.button-new {
    color: white;
    margin-right: 20px;
    background: #F3572E;
    display: inline-block;
    font-size: 17px;
    padding: 5px 15px;
    float: right;
}