body {
    background: rgb(236, 238, 241);
}

.profile {
    text-align: right;
    float: right;
    margin-right: 10px;
}

.profile a {
    color: white;
    text-decoration: underline;
}

.profile p {
    color: whitesmoke;
}

.request {
    border: 1px solid red;
    box-shadow: 0 0 3px rgba(0, 0, 0, .35);
    padding: 5px;
    margin: 3px;
}

.hidden {
    display: none !important;
}

.task-view {
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

.filters {
    bottom: 0;
    position: fixed;
    top: 20px;
    width: 300px;
    background: #cbd0d6;
    overflow: auto;
    overflow-x: hidden;
}

input {
    border-radius: 0;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    padding: 3px 15px;
}

input:focus {
    box-shadow: none;
    border-color: rgb(177, 177, 177);
}

.task textarea {
    border: 1px solid rgb(177, 177, 177);
    outline: none;
    min-width: 280px;
    max-width: 280px;
    height: 250px;
}

.add-new-task-button {
    color: white;
    font-size: 23px;
    margin-top: 7px;
    margin-right: 20px;
}

.add-new-task-button, .logout {
    float: left;
}

.add-new-task-inline {
    color: rgb(202, 202, 202);
    font-size: 22px;
    top: 4px;
}

.blackout {
    background: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    display: none;
}

.opened-task, .new-task {
    display: none;
    position: fixed !important;
    z-index: 2001;
}

.close-button {
    font-size: 20px;
    float: right;
    color: #A54C4D;
    right: -15px;
}

.navbar-text {
    cursor: default;
}