.task {
    width: 300px;
    height: 180px;
    background: white;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 23px;
    padding: 10px;
    position: relative;
}

.task h3 {
    font-size: 16px;
    font-weight: 900;
}

.task header {
    height: 5px;
    width: 300px;
    background: rgb(255, 220, 100);
    margin-left: -10px;
    margin-top: -10px;
}

.task.new-task {
    width: auto;
    height: 455px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.task.new-task.lite {
    height: 400px;
}

.task.new-task select {
    width: 150px;
    float: right;
}

.task.new-task header {
    height: auto;
    background: none;
    margin-left: -10px;
    text-align: center;
    padding-top: 10px;
    vertical-align: bottom;
}

.task.opened-task .close-button {
    right: auto;
    top: -30px;
}

.task.opened-task header {
    width: 623px;
    height: auto;
    background: none;
    margin-left: -10px;
    text-align: center;
    vertical-align: bottom;
}

.task.new-task header img, .task.new-task header h4 {
    display: inline-block;
}

.task.new-task header img {
    margin-top: -5px;
}

.task.new-task header h4 {
    color: rgb(161, 161, 161);
}

.task.opened-task {
    width: 660px;
    height: 660px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;;
}

.task.opened-task footer .comments-container {
    max-height: 265px;
    overflow: auto;
    overflow-x: hidden;
}

.task.opened-task .comment-content {
    height : 70px;
    width: 540px;
    max-width: 540px;
    min-width: 540px;
}

.task.opened-task footer {
    max-height: 385px;
}

.task .button-save {
    background: rgb(248, 163, 43);
    width: 150px;
    font-family: "DejaVu Sans Mono";
    font-size: 12pt;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 80px;
    cursor: default;
    float: right;
}

.task textarea {
    margin-bottom: 10px;
}

.task .button-section {
    color: white;
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    float: left;
    padding-top: 10px;
}

.task .button-section.view {
    background: rgb(52, 152, 219);
    left: 0;
}

.task .button-section.comments {
    background : rgb(230, 126, 34);
    left: 100px;
}

.task .button-section.onit {
    background: rgb(26, 188, 156);
    margin-right: -36px;
    left: 200px;
}

.add-helper {
    font-size: 18px;
    margin-left: 10px;
}

.comment-remove {
    position: absolute;
    top: 5px;
    right: 1px;
}

.edit-button {
    float: right;
    right: -15px;
}

.content-edit {
    display: none;
    width: 540px;
    min-width: 540px !important;
    max-width: 540px !important;
    max-height: 384px;
}

.time-filter {
    float: right;
    width: 400px;
    margin-right: 20px;
}

.paging {
    float: right;
    margin-right: 20px;
    width: 200px;
}

.paging .btn.info {
    background: #24b592;
    color: #ffffff;
    width: 50px;
    border: 1px solid #24b592;
}

.paging .btn {
    border: 1px solid #ccc;
    width: 70px;
    color: #000000;
}

.paging .btn:first-child {
    border-right: none;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
}

.paging .btn:last-child {
    border-left: none;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
}

.time-filter .btn {
    border-radius: 0;
    color: black;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
}

.btn.active {
    color: #f6f7f7;
    background: #24b592;
    border: none;
}

.btn-group.sort {
    float: right;
    margin-right: 20px;
}

.time-filter .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 1px solid #989ba3;
}

.time-filter .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #989ba3;
}