.task-list {
    margin-top: 60px;
    margin-left: 60px;
}

.task {
    width: 300px;
    height: 180px;
    background: white;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 23px;
    padding: 10px;
}

.task h3 {
    font-size: 16px;
    font-weight: 900;
}

.task header {
    height: 5px;
    width: 300px;
    background: rgb(255, 220, 100);
    margin-left: -10px;
    margin-top: -10px;
}

.task.new-task {
    height: 378px;
}

.task.new-task header {
    height: auto;
    background: none;
    margin-left: -10px;
    text-align: center;
    padding-top: 10px;
    vertical-align: bottom;
}

.task.new-task header img, .task.new-task header h4 {
    display: inline-block;
}

.task.new-task header img {
    margin-top: -5px;
}

.task.new-task header h4 {
    color: rgb(161, 161, 161);
}

.task .button-save {
    background: rgb(248, 163, 43);
    width: 140px;
    font-family: "DejaVu Sans Mono";
    font-size: 12pt;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 80px;
}

.task textarea {
    margin-bottom: 10px;
}