<header>
    <img src="{{ getGravatar(data.email, 80) }}"/>
    <h4>Профиль</h4>
    <div class = "glyphicon glyphicon-remove-circle close-button"></div>
    <div class = "glyphicon glyphicon-pencil edit-button"></div>
</header>

<div class = "content-container">
    <p>Имя : <span class = "edit-view">{{ data.displayName }}</span><input type="text" class = "edit-field name" ng-model = "data.displayName"/></p>
    <p>Телефон : <span class = "edit-view">{{ data.phone && data.phone || "Не указан" }}</span> <input type="text" class = "edit-field phone" ng-model = "data.phone"/></p>
    <p>Email : {{ data.email }}</p>
    <p>Профиль создан : {{ parseDate(data.createdAt) }}</p>
    <p>Профиль обновлен : {{ parseDate(data.updatedAt) }}</p>
    <p>Роль : {{ dictRoles[data.role] }}</p>
    <button class = "edit-role">Изменить роль</button>
    <div class = "role-edit">
        <p>Установить роль : <select ng-model="selectedRole" ng-options = 'uni.id as uni.name for uni in roles'></select>
        <p ng-class = '{ hidden : selectedRole != 1 }'>Указать кафедру: <select  ng-model="selectedUniDep" ng-options = 'uni.id as uni.name for uni in uniDeps'></select>
        <p ng-class = '{ hidden : selectedRole == 1 || selectedRole == 0 || selectedRole == 4 }'>
        Указать отдел: <select  ng-model="selectedSubDep" ng-options = 'uni.id as uni.name for uni in subDeps'></select>
        <!--<p><button class = "btn btn-danger" ng-click="saveChanges('root')">Сделать главой</button>-->
        <p><button class = "btn btn-success" ng-click="saveChanges('role')">Сохранить</button>
    </div>
</div>


<!--<p>Email : {{ data.email }}</p>-->
<!--<button class = "btn btn-danger" ng-click = 'removeProfile()'>Удалить профиль</button>
<button class = 'btn btn-success' ng-click = 'saveProfile()'>Сохранить изменения</button>-->

