<header>
    <img src="{{ getGravatar(data.email, 80) }}"/>
    <h4>{{ data.displayName }}</h4>
    <div class = "glyphicon glyphicon-remove-circle close-button"></div>
    <div class = "glyphicon glyphicon-pencil edit-button" ng-click = 'editProfile()'></div>
</header>

<div class = "content-container">
    <p>Email : {{ data.email }}</p>
    <p>Профиль создан : {{ parseDate(data.createdAt) }}</p>
    <p>Профиль обновлен : {{ parseDate(data.updatedAt) }}</p>
    <p>Телефон : {{ data.phone && data.phone || "Не указан" }}</p>
    <p>Роль : {{ dictRoles[data.role] }}</p>
</div>

<div class = "content-edit">
    <p>Имя : <input type="text" ng-model = "data.displayName"/></p>
    <p>Телефон : <input type="text" ng-model = "data.phone"/></p>

    <p>Установить роль : <select ng-model="selectedRole" ng-options = 'uni.id as uni.name for uni in roles'></select>
    <p ng-class = '{ hidden : selectedRole != 1 }'>Указать кафедру: <select  ng-model="selectedUniDep" ng-options = 'uni.id as uni.name for uni in uniDeps'></select>
    <p ng-class = '{ hidden : selectedRole != 2 }'>Указать отдел: <select  ng-model="selectedSubDep" ng-options = 'uni.id as uni.name for uni in subDeps'></select>
    <p ng-class = '{ hidden : selectedRole < 2 }'>Сделать главой отдела <input type="checkbox" ng-model = 'subDepCheck'/></p>
    <button class = "btn btn-danger" ng-click="saveChanges('root')">Сделать Root </button>

    <button class = "btn btn-success" ng-click="saveChanges('any')">Сохранить</button>
</div>



<!--<p>Email : {{ data.email }}</p>-->
<!--<button class = "btn btn-danger" ng-click = 'removeProfile()'>Удалить профиль</button>
<button class = 'btn btn-success' ng-click = 'saveProfile()'>Сохранить изменения</button>-->

