<header>
    <h4># {{ data.id }}</h4>
    <div class = "glyphicon glyphicon-remove-circle close-button"></div>
</header>
<p>{{ data.content }}</p>
Назначены :  <span> {{ onWork }} </span>
<p ng-class = '{ hidden : profile[0].role != "department chief" }'>Отдел : <select ng-model="selectedSubDep" ng-options = 'uni.id as uni.name for uni in subDeps' ng-change='getUsersBySubDep()'></select>
Исполнитель : <select ng-model="selectedUser" ng-options = 'uni.id as uni.displayname for uni in users'></select>
<span class="glyphicon glyphicon-plus-sign add-helper" ng-click = 'addHelperToTask()'></span></p>
<footer>
    <div>Комментарии ({{ comments.length }}):</div>
    <div class = 'comments-container'>
        <div ng-repeat = 'co in comments'>
            <b>{{ co.displayname }}: </b>
            <span>{{ co.content }}</span>
        </div>
    </div>
    <textarea class = 'comment-content' ng-model = 'ncomment'></textarea>
    <button class="btn btn-info" ng-click = 'saveComment()'>Добавить комментраий</button>
    <button ng-class = "{ hidden : profile[0].role != 'client' && profile[0].role != 'department chief' }" class="btn btn-success" ng-click = 'closeTask()'>Закрыть заявку</button>
</footer>
